body{
    margin: 0
}
/*Header*/
.head{
    display: flex;
    position: relative;
    background-color: #CCDC68;
    height: auto;
}

.head img{
    height: 75px;
}

.button{
    display: flex;
    align-items: center;
    font-size: 16px;
    width: auto;
}

.Dramas{
    padding-left: 3%;
}

.Plans{
    padding-left: 3%;
}

.About{
    padding-left: 3%;
}

.Subscription{
    padding-left: 3%;
}

.button a{
    color: black;
    text-decoration: none;
}

.About {
    position: relative;
  }
  
  .DropdownAbout {
    display: none;
    position: absolute;
    background-color: #CCDC68;
    width: 100px;
    z-index: 1;
  }

  .DropdownAbout>ul{
      padding: 0%;
  }

  .DropdownAbout>ul>li{
      list-style-type: none;
  }
  
  
  .DropdownAbout a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .DropdownAbout a:hover {background-color: rgb(27, 253, 178);}
  
  .About:hover .DropdownAbout {display: block;}

/*Body*/
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.investor_relations{
    display: block;
    /* position: absolute; */
    margin-top: 2%;
    /* transform: translate(-50%, -50%); */
    background-color: #F2F2F2;
    width: 500px;
    height: 500px;
}
.careers{
    display: block;
    /* position: absolute; */
    margin-top: 2%;
    /* transform: translate(-50%, -50%); */
    background-color: #F2F2F2;
    width: 500px;
    height: 900px;
}
.text{
  padding: 20px;
  text-align: center;
}

.list{
    list-style-type:none;
    padding: 15px;
    font-size: 20px;
    list-style-type: circle;
}

.apply {
    background-color: #DFEA63;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: auto;  
    border-radius: 8px;
  }

/*Footer*/

.foot{
    display: flex;
    justify-content: space-between;
    background-color: #DFEA63;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.kiri{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    margin-left: 30%;
}

.kanan{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 5%;
}

